/* .container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display:flex;
  justify-content: center;

}
/* .side-head {
  margin-left: 130px;
  width: 25vw;
  height: 100vh;
  background-color: black;
} */
/* .intro {
  background-color: red;
  width: 50vw;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.hello {
  background-color: blue;
}
.container-home {
  width: 38vw;
  height: 45vh;
  background-color: darkslategray;
  margin-top: 15px;
  padding: 25px;

}
.title {
  color: #00b87b;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-style: normal;
}
h3 {
  color: orangered;
  display: flex;
  justify-content: center;
}
p {
  color: white;
  font-size: 20px;
  text-align: center;
}
.buttons {
  width: 140px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b87b;
  border-radius: 3px;
}
.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.container-about {
  width: 50vh;
  height: 50vw;
  background-color: red;
} */

 :root{
  --primary: #00B87B;
  --secondary: #314355;
  --light:#F2F2F2;
  --dark:#2C3E50;
 }
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 body{
  background-color: var(--dark);
 }

.whole-cont{
  padding: 500px;
}